<div class="content">
  <div class="content-lister">
    <div
      class="card"
      *ngFor="let item of store; index as i"
      style="width: 20rem"
      id="card {{ item.id }}"
    >
      <img class="card-img-top image" [src]="item.image" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <h6 class="card-title">Rs : {{ item.price }}</h6>
        <a class="btn btn-warning add" (click)="increaseCart()"
          ><fa-icon [icon]="addCart" class="m-r-3"></fa-icon>
          <p>Add to Cart</p></a
        >
      </div>
    </div>
  </div>
</div>
