.home{
  background-image: url("/assets/images/amazon_seattle.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#header {
  width: fit;
  height: 10vh;
  text-align: center;
}
#header img {
  height: 5em;
  transform: translateX(-10px);
}
.btn{
  border-radius:8px;
  padding: 10px 35px;
  font-size: 500;
}

.container{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}